.Rhistory
.Rproj.user/
.RData
.Ruserdata
.quarto/
_site/
site_libs/

guia_proceso_ggplot2.html
guia_proceso_ggplot2.pdf
guia_proceso_ggplot2.typ
ggplot2_guia_visual_mejorada_1.html
*.knit.md

.DS_Store
.Rproj.user
.httr-oauth
.quarto

/.quarto/
**/*.quarto_ipynb
